<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script>
            var model = null;
            var dlgModel = null;
            $(document).ready(function () {
                dlgModel = new Vue({
                    el: "#dlg",
                    data: {
                        id: "",
                        password: ""
                    }
                });
                $.ajax("logins", {
                    success: function (data) {
                        model = new Vue({
                            el: "#app",
                            data: {
                                logins: data
                            },
                            methods: {
                                deleteLogin: function (i) {
                                    $.ajax("login_info?id="+model.logins[i].id, {
                                        type: "DELETE",
                                        success: function(d){
                                            model.logins.splice(i, 1);
                                        }
                                    });
                                },
                                editLogin: function (o) {
                                    dlgModel.id = o.id;
                                    dlgModel.password = o.password;
                                    $("#dlg").dialog({
                                        modal: true,
                                        buttons: [
                                            {
                                                text: "OK",
                                                click: function () {
                                                    $.ajax("login_info?id="+dlgModel.id+"&password="+dlgModel.password, {
                                                        type: "PUT",
                                                        success: function(d){
                                                            o.id = dlgModel.id;
                                                            o.password = dlgModel.password;
                                                        }
                                                    });
                                                    
                                                    $(this).dialog("close");
                                                }
                                            }
                                        ]
                                    });
                                }
                            }
                        });
                    }
                });
            });

            function addLogin() {
                dlgModel.id = "";
                dlgModel.password = "";
                $("#dlg").dialog({
                    modal: true,
                    buttons: [
                        {
                            text: "OK",
                            click: function () {
                                $.ajax("login_info", {
                                    type: "POST",
                                    data: {
                                        id: dlgModel.id,
                                        password: dlgModel.password
                                    },
                                    success: function (d) {
                                        model.logins.push({
                                            id: dlgModel.id,
                                            password: dlgModel.password
                                        });
                                    }
                                });
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
        </script>
    </head>
    <body>
        <a href="admin/index.jsp"> Admin</a>
        <button onclick="addLogin();">New</button>
        <table id="app" border="1">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>PASSWORD</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(login, index) in logins">
                    <td>{{index}}</td>
                    <td>{{login.id}}</td>
                    <td>{{login.password}}</td>
                    <td><button v-on:click="editLogin(login);">Edit</button></td>
                    <td><button v-on:click="deleteLogin(index);">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div id="dlg" style="display:none">
            ID: <input type="text" v-model="id"/><br/>
            Password: <input type="password" v-model="password"/><br/>
        </div>
    </body>
</html>
